@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --primary-color: #6c63ff;
  --dark-grey: #9ca3af;
}
body {
  font-family: "Roboto Mono", monospace;
}

hr {
  margin: 2rem 0rem;
}

.fluid-container {
  padding-left: 1 rem;
  padding-right: 1 rem;
}

.center-container {
  max-width: 600px;
  margin: auto;
}

.link-primary {
  background-color: #6c63ff;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.link-secondary {
  background-color: white;
  color: #6c63ff;
  border-radius: 0.5rem;
  border: 1px solid #6c63ff;
  text-decoration: none;
  padding: 0.5rem;
}

.list-non-bullet {
  list-style: none;
}

.nav-brand {
  font-weight: bold;
}
.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.nav-elements {
  background-color: #6c63ff;
  color: white;
}
.nav-pills {
  text-align: right;
}

.nav-inline {
  display: inline;
  padding: 0rem 2rem;
}

.nav-pills.link-active {
  font-weight: bold;
}

.link {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 2rem;
  text-align: center;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-txt {
  padding-top: 1rem;
  color: var(--dark-grey);
}

.hero .hero-txt .heading-inverted {
  color: var(--primary-color);
}
