@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
:root {
  --primary-color: #6c63ff;
  --dark-grey: #9ca3af;
  --off-white: #f3f4f6;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0px;
}

hr {
  margin: 2rem 0rem;
}

.fluid-container {
  padding-left: 1 rem;
  padding-right: 1 rem;
}

.container {
  padding: 0rem 1rem;
}

.center-container {
  max-width: 600px;
  margin: auto;
}

.link-primary {
  background-color: #6c63ff;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.link-secondary {
  background-color: white;
  color: #6c63ff;
  border-radius: 0.5rem;
  border: 1px solid #6c63ff;
  text-decoration: none;
  padding: 0.5rem;
}

.list-non-bullet {
  list-style: none;
}

.nav-brand {
  font-weight: bold;
}
.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.nav-elements {
  background-color: #6c63ff;
  color: white;
  border-bottom-left-radius: 2rem;
  padding-bottom: 1rem;
}
.nav-pills {
  text-align: right;
  color: white;
}

.nav-elements .link {
  color: white;
}

.nav-inline {
  display: inline;
  padding: 0rem 1rem;
}

.link-active {
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.hero {
  padding: 2rem;
  text-align: center;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-txt {
  padding-top: 1rem;
  color: var(--dark-grey);
}

.hero .hero-txt .heading-inverted {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
}

.section {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-weight: bold;
}

.list-item {
  padding-bottom: 5rem;
  margin: auto;
}

/* .gk-quiz {
  padding-bottom: 5rem;
  margin: auto;
} */

.blog-heading {
  font-family: "Montserrat", sans-serif;
}

/* .blog-para {
  font-family: "Merriweather", serif;
} */

.sample-img {
  display: block;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
}

.blog-body {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 200;
  max-width: 500px;
  margin: auto;
}

.blog-content {
  margin: auto;
  max-width: 500px;
  padding: 2rem;
}

.bottom-space {
  padding-bottom: 1rem;
}
